Using OpenAI to do text-to-sql:

- https://python.langchain.com/docs/use_cases/qa_structured/sql

- https://colab.research.google.com/github/langchain-ai/langchain/blob/master/docs/docs/use_cases/qa_structured/sql.ipynb#scrollTo=a9vswQjHUR0v

In [ ]:
# silence output:
%%capture

!pip install langchain langchain-experimental openai

In [ ]:
# Set env var OPENAI_API_KEY or load from a .env file
# import dotenv

# dotenv.load_dotenv()

# Or add a valeu in the Secrets tab in Google Colab and use it like this:

from google.colab import userdata
OPENAI_API_KEY = userdata.get('OPENAI_API_KEY')

In [ ]:
# silence output:
%%capture

!wget https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sql

In [ ]:
# !add-apt-repository -y ppa:sergey-dryabzhinsky/packages
# !apt update
!apt install sqlite3
!sqlite3 Chinook.db
# THEN CLICK TO THE RIGHT OF "sqlite>" IN THE OUTPUT
# THEN ENTER THE FOLLOWING INSIDE OF THE INPUT BOX THAT APPEARS:
# .read Chinook_Sqlite.sql
# THEN STOP WITH .quit or pause this cell in colab

In [43]:
from langchain.utilities import SQLDatabase
from langchain.llms import OpenAI
from langchain_experimental.sql import SQLDatabaseChain

db = SQLDatabase.from_uri('sqlite:///Chinook.db')
llm = OpenAI(temperature=0, verbose=True, openai_api_key=OPENAI_API_KEY)
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
db_chain_just_sql = SQLDatabaseChain.from_llm(llm, db, verbose=True, return_sql=True)

In [49]:
db_chain_just_sql.run('How many employees are there?')
# this just outputs the SQL command, so you can decide whether to block the SQL command or let the user copy and edit before running.

> Entering new SQLDatabaseChain chain...
How many employees are there?
SQLQuery:
> Finished chain.

'SELECT COUNT(*) FROM "Employee";'

In [45]:
db_chain.run('How many employees are there?')

> Entering new SQLDatabaseChain chain...
How many employees are there?
SQLQuery:SELECT COUNT(*) FROM "Employee";
SQLResult: [(8,)]
Answer:There are 8 employees.
> Finished chain.

'There are 8 employees.'

In [46]:
db_chain.run('What are all the tables?')

> Entering new SQLDatabaseChain chain...
What are all the tables?
SQLQuery:SELECT name FROM sqlite_master WHERE type='table';
SQLResult: [('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]
Answer:The tables are Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, and Track.
> Finished chain.

'The tables are Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, and Track.'